/*
This file is part of "Helsingin tapahtumakartta".

"Helsingin tapahtumakartta" is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"Helsingin tapahtumakartta" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with "Helsingin tapahtumakartta".  If not, see <http://www.gnu.org/licenses/>.
*/

/* Modified: Marko Suomalainen 1.3.2016 */

.copyright {
    font-size: 80%;
}

map {
    height: 180px;
}

.ui-widget-content a {
    color: #2a62bc;
    font-weight: normal;
}

.calendar1_style {
    float: left;
}

.calendar2_style {
    float: left;
}

.content {
    font-size: 13px;
}

.dropdown {
    position: relative;
}

.top_margin_1 {
    margin-top: 1em;
}

.divider {
    border-bottom: 1px solid #d4d4d4;
    margin: 1em 0 1em 0;
}

.flag {
    height: 31px;
    margin-left: 1em;
    padding: 2px;
    border-radius: 8px;
    border: 1px solid #d4d4d4;
}

.formFlag {
    display: inline-block;

}

#flags {
    margin-top: 30px;
    horiz-align: right;
    float: right;
}

.flag:hover {
    border: 0;
    padding: 3px;
}

#body {
    background-color: #fafafa;
}

h1 {
    color: #111111;
}

#map {
    height: 500px;
}

.chosen-container-multi .chosen-choices {
    border-radius: 4px;
    border: 1px solid #cccccc;
   /* height: 34px !important; */
    padding: 6px 12px;

}

h1 {
    color: #9f9f9f;
    text-shadow: 1px 1px 0 #000000, -1px 1px 0 #000000,
             1px -1px 0 #000000, -1px -1px 0 #000000;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.chosen-container-multi .chosen-choices li.search-field input[type=text] {
    color: #555555;
    font-size: 14px;
    line-height: 1.4;
    height: auto;
}

.radio_button_label_style{
    font-weight: normal;
    margin-right: 3px;
}

.radio_button_style{
    display: inline;
}

.radio_button_group_style{
    margin-left: 5px;
}

@media (max-width: 767px) {
    #body {

    }

    #map {
        height: 300px;
    }

    #flags {
        float: left;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .divider {
        display: none;
    }

    h1 {
        font-size: 22px;
        letter-spacing: 2px;
    }
}
