<!--
This file is part of "Helsingin tapahtumakartta".

"Helsingin tapahtumakartta" is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"Helsingin tapahtumakartta" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with "Helsingin tapahtumakartta".  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Modified: Marko Suomalainen 1.3.2016 -->

{% extends "template.html" %}
{% block data_content %}

    <!-- Chosen-dropdown -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/chosen.jquery.min.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/chosen.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MarkerCluster-Default.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MarkerCluster.css') }}"/>

    <div class="row">
        <div class="col-md-8" id="map" style="width: 100%;  border: 1px solid #AAA;">
            <!-- Karttaa varten-->
            <script src="//cdn.leafletjs.com/leaflet-0.7.5/leaflet.js"></script>
            <script type="text/javascript"
                    src="{{ url_for('static', filename='js/leaflet_markercluster-src.js') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>

        </div>
    </div>

{% endblock %}

<!-- Yritä pysyä perässä -->
{% block event_list %}
    <div id="accordion">
        {% if events|length == 0 %}
                {% if language == 'fi' %}
                    <h3 class="event_name">Valitut hakuehdot eivät tuottaneet tuloksia</h3>
                    <div>
                        <p><b>Ei mitään näytettävää</b></p>
                    </div>
                {% elif language == 'en' %}
                    <h3 class="event_name">Selected options are not giving any results</h3>
                    <div>
                        <p><b>There is nothing to show</b></p>
                    </div>
                {% elif language == 'sv' %}
                    <h3 class="event_name">Valda alternativen inte ger några resultat</h3>
                    <div>
                        <p><b>Det finns ingenting att visa</b></p>
                    </div>
                {% endif %}

        {% else %}
            {% for event in events %}
                <h3 class="event_name" id="{{ event['id'] }}">
                    {% if event['name_'+language] %}
                        {{ event['name_'+language] }}
                    {% else %}
                        {{ event['name_fi'] }}
                    {% endif %}
                </h3>

                <!-- TODO: tätä pitää vielä muokata parempaan muotoon, jotta ei olisi toistoa-->
                <!-- TODO: päivämäärä suomalaiseen muotoon-->
                <div class="{{ event['id'] }}">
                    {% if event['name_'+language] !=None and event['url'] !=None and event['address_'+language] != None %}
                        <p><b><a href="{{ event['url'] }}" target="_blank" class="content">
                            {% if language == 'fi' %}
                                Kotisivu
                            {% elif language == 'en' %}
                                Homepage
                            {% elif language == 'sv' %}
                                Hemsida
                            {% endif %}
                        </a></b></p>
                        <p class="content"><b>{{ event['address_'+language] }}</b></p>
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_'+language] }}</p>

                    {% elif event['name_'+language] !=None  and event['url'] !=None %}
                        <p><b><a href="{{ event['url'] }}" target="_blank" class="content">
                            {% if language == 'fi' %}
                                Kotisivu
                            {% elif language == 'en' %}
                                Homepage
                            {% elif language == 'sv' %}
                                Hemsida
                            {% endif %}
                        </a></b></p>
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_'+language] }}</p>

                    {% elif event['name_'+language] != None  and event['address_'+language] != None %}
                        <p class="content"><b>{{ event['address_'+language] }}</b></p>
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_'+language] }}</p>

                    {% elif event['name_'+language] ==None and event['url'] != None and event['address_'+language] != None %}
                        <b><a href="{{ event['url'] }}" target="_blank" class="content">
                            {% if language == 'fi' %}
                                Kotisivu
                            {% elif language == 'en' %}
                                Homepage
                            {% elif language == 'sv' %}
                                Hemsida
                            {% endif %}
                        </a></b>
                        <p class="content"><b>{{ event['address_'+language] }}</b></p>
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_fi'] }}</p>

                    {% elif event['name_'+language] ==None and event['address_'+language] != None %}
                        <p class="content"><b>{{ event['address_'+language] }}</b></p>
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_fi'] }}</p>

                    {% elif event['description_'+language] == None  and event['url'] != None and event['address_'+language] == None %}
                        <p><a href="{{ event['url'] }}" target="_blank" class="content">
                            {% if language == 'fi' %}
                                Kotisivu
                            {% elif language == 'en' %}
                                Homepage
                            {% elif language == 'sv' %}
                                Hemsida
                            {% endif %}
                        </a></p>
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_fi'] }}</p>

                    {% elif event['description_'+language] == None  and event['url'] != None and event['address_'+language] != None %}
                        <b><a href="{{ event['url'] }}" target="_blank" class="content">
                            {% if language == 'fi' %}
                                Kotisivu
                            {% elif language == 'en' %}
                                Homepage
                            {% elif language == 'sv' %}
                                Hemsida
                            {% endif %}
                        </a></b>
                        <p class="content"><b>{{ event['address_'+language] }}</b></p>
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_fi'] }}</p>

                    {% elif event['description_'+language] ==None  and event['url'] !=None and event['address_'+language] != None %}
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_fi'] }}</p>

                    {% else %}
                        <p class="content"><small>{{ start_word }}{{ event['start_time'] }}</small></p>
                        <p class="content"><small>{{ end_word }}{{ event['end_time'] }}</small></p>
                        <p class="content">{{ event['description_fi'] }}</p>
                    {% endif %}
                    <input type="hidden" class="hri_id" value="{{ event['id'] }}">
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block calendars_and_filters %}

    <form action="/{{ language }}" method="get" id="search_form">
        <div>
            <!-- calendars -->
            <div class="row">
                <div class="col-md-12">
                    <div class="calendar1_style form-group top_margin_1">
                        <label id="calendarStartLabel" for="datepickerStart">Aloitusp&auml;iv&auml;:</label>
                        <input type="text" id="datepickerStart" name="calendarStart" class="form-control">
                    </div>
                    <input id="startDateVal" type="hidden" value="{{ startdate }}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="calendar2_style form-group">
                        <label id="calendarEndLabel" for="datepickerEnd">Lopetusp&auml;iv&auml;:</label>
                        <input type="text" id="datepickerEnd" name="calendarEnd" class="form-control">
                    </div>
                    <input id="endDateVal" type="hidden" value="{{ enddate }}">
                </div>
            </div>

            <!-- dropdown -->
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">
                                <label id="filterText" for="filter_dropdown">Rajaa hakua:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <select multiple class="chosen-select" id="filter_dropdown" name="filter"
                                        data-placeholder="Valitse suodattimet..."
                                        style="width: 100%">
                                    {% for tag in tags %}
                                        <option value="{{ tag }}">{{ tag }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="lang" value="{{ language }}"/>
                </div>
            </div>

            <!-- radio buttons -->
            <div class="row">
                <div class="col-md-12">
                    <label for="radio_buttons" id="label_radio_buttons"></label>
                    <div class="form-group radio_button_group_style" id="radio_buttons">
                        <input type="radio" name="radio_selection" class="radio_button_style" id="radio_or" value="OR">
                        <label for="radio_or" id="label_radio_or" class="radio_button_label_style"></label>
                        <input type="radio" name="radio_selection" class="radio_button_style" id="radio_and" value="AND">
                        <label for="radio_and" id="label_radio_and" class="radio_button_label_style"></label>
                    </div>

                </div>
            </div>

            <input id="buttonSubmit" type="submit" value="Test" class="btn btn-success"/>
            <!--    <button id="button1" class="btn btn-success top_margin_1">Submit</button> -->

        </div>
    </form>
{% endblock %}

{% block scripts %}

    <!-- valintanappi -->
    <script>
    if ( "{{ selection }}" == "OR"){
        $("#radio_or").prop("checked", true);
    }
    else if ( "{{ selection }}" == "AND"){
        $("#radio_and").prop("checked", true);
    }
    </script>

    <!-- kalenterit -->
    <script>
        var dateformat = "dd.mm.yy";
        var currentDate = $.datepicker.formatDate(dateformat, new Date());

        <!-- kalenterien alustus -->
        $.datepicker.regional['fi'] = {
            prevText: '<edellinen', prevStatus: 'edellinen kuukausi',
            nextText: 'seuraava>', nextStatus: 'seuraava kuukausi',
            monthNames: ['tammikuu', 'helmikuu', 'maaliskuu', 'huhtikuu', 'toukokuu', 'kesäkuu',
                'heinäkuu', 'elokuu', 'syyskuu', 'lokakuu', 'marraskuu', 'joulukuu'],
            dayNamesMin: ['su', 'ma', 'ti', 'ke', 'to', 'pe', 'la'],
            dateFormat: dateformat, firstDay: 1,
            isRTL: false
        };
        $.datepicker.setDefaults($.datepicker.regional['fi']);

        <!-- kalenterien muodostajat -->
        $(document).ready($(function () {
            $("#datepickerStart").datepicker({
                dateFormat: dateformat,
                minDate: currentDate,
                firstDay: 1,
                onClose: function () {
                    if ($(this).datepicker().val() == '') {
                        $(this).datepicker("setDate", currentDate);
                    }
                },
                onSelect: function () {
                    datepick = $(this).datepicker().val();
                    $("#datepickerEnd").datepicker("destroy");
                    $("#datepickerEnd").datepicker({
                        minDate: datepick,
                        onClose: function () {
                            if ($(this).datepicker().val() == '') {
                                $(this).datepicker("setDate", $("#datepickerStart").val());
                            }
                        }
                    });
                    $("#datepickerEnd").datepicker("setDate", datepick);
                }
            });

            $("#datepickerStart").datepicker("setDate", currentDate);

            $("#datepickerEnd").datepicker({
                minDate: currentDate,
                onClose: function () {
                    if ($(this).datepicker().val() == '') {
                        $(this).datepicker("setDate", $("#datepickerStart").val());
                    }
                }
            });

            $("#datepickerEnd").datepicker("setDate", currentDate);

            if ($("#startDateVal").val() != '') {
                $("#datepickerStart").datepicker("setDate", $("#startDateVal").val());
                $("#datepickerEnd").datepicker("setDate", $("#endDateVal").val());
            }
        }));

    </script>

    <!-- dropdown -->
    <script>
        $(document).ready($(function () {
            $("#filter_dropdown").chosen({no_results_text: "Osumia ei löytynyt haulle:"});

            //filterien haku ja laitto takaisin komponenttiin
            var temp = {{ filters|safe }};
            if (temp != []) {
                var tokenArray = {{ filters|safe }};
                $("#filter_dropdown").val(tokenArray);
            }
        }));
    </script>

    <!-- accordion -->
    <script>
        $(document).ready(function () {
            $("#accordion").accordion({
                heightStyle: "content",
                collapsible: true,
                active: 'none'
            });

            $(".event_name").click(function (e) {

                $('.ui-accordion-content-active').find('p').readmore({
                    speed: 75,
                    moreLink: '<button type="button" class="btn btn-default btn-xs" aria-label="Left Align">Enemm&auml;n <span class="glyphicon glyphicon-chevron-down"></span></button>',
                    lessLink: '<button type="button" class="btn btn-default btn-xs" aria-label="Left Align">V&auml;hemm&auml;n <span class="glyphicon glyphicon-chevron-up"></span></button>'
                });

                // Markerin puhekuplan avaaminen ja kartan keskittäminen
                var hri_id = $(this).attr('id');

                for (var i = 0; i < markerlist.length; i++) {
                    var marker = markerlist[i];
                    var id = marker.hri_id;
                    if (id == hri_id) {
                        markers.zoomToShowLayer(marker, function () {
                            marker.openPopup();
                        });
                        latlng = marker.getLatLng();
                        map.panTo(new L.LatLng(latlng.lat, latlng.lng));
                        marker.openPopup();
                        break;
                    }
                }
            });
        });

        // Pitää katsoa että aliohjelmat käydään/alustetaan oikeassa järjestyksessä, muuten tulee erroria

    </script>

    <!-- kielivalinta -->
    <script>
        $(document).ready(function () {

            if (document.documentElement.lang == 'en') {
                InitLangEng('{{ date }}', dateformat);
            }
            else if (document.documentElement.lang == 'fi') {
                InitLangFi('{{ date }}', dateformat);
            }
            else if (document.documentElement.lang == 'sv') {
                InitLangSv('{{ date }}', dateformat);
            }
        });
    </script>

{% endblock %}
