<!--
This file is part of "Helsingin tapahtumakartta".

"Helsingin tapahtumakartta" is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

"Helsingin tapahtumakartta" is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with "Helsingin tapahtumakartta".  If not, see <http://www.gnu.org/licenses/>.
-->

<!-- Modified: Marko Suomalainen -->

<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <!-- tässä on jquery ui:n oletusmuotoiluun tarkoitettuja osia. .theme ja .structure tarvitaan oman teeman näyttämiseen-->
        <link rel="stylesheet" href="/static/css/jquery-ui.theme.min.css">
        <link rel="stylesheet" href="/static/css/jquery-ui.structure.min.css">
        <script src="//code.jquery.com/jquery-1.10.2.js"></script>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/readmore.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lang-fi.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lang-sv.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/lang-en.js') }}"></script>
        <!-- bootsTrap -->
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>   tämä rikkoo comboboxin muotoilun-->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" /> -->

        <title>Helsingin tapahtumakartta</title>

    {% endblock %}
</head>

<body id="body">
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h1 id="pageTitle" class="page_title">Tapahtumakartta</h1>
        </div>
        <div class="col-md-3">
            <div id="flags" class="pull-righgt">
                <input type="image" src="/static/img/fi.jpg" class="flag" value="fi"/>
                <input type="image" src="/static/img/se.jpg" class="flag" value="sv"/>
                <input type="image" src="/static/img/en.jpg" class="flag" value="en"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="divider"></div>
    </div>

    <div class="row">
        <div class="col-md-7">

            {% block data_content %}{% endblock %}
        </div>
        <div class="col-md-3" id="list" style="height: 500px; overflow-y: scroll;">
            {% block event_list %}{% endblock %}
        </div>
        <div class="col-md-2">
            {% block calendars_and_filters %}{% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm top_margin_1">
            <span id="copyrightText" class="copyright">Datan l&auml;hde: <a
                    href="http://www.hri.fi/fi/dataset/linked-events-tapahtumarajapinta">Linked
                events -tapahtumarajapinta</a>. Aineiston yll&auml;pit&auml;j&auml; on Forum Virium Helsinki ja alkuper&auml;inen tekij&auml;
                Helsingin kaupungin kulttuurikeskus, Helsingin kaupunginkirjasto, Helmet-kirjastopalvelu, Helsingin Markkinointi Oy. Aineisto on
                ladattu <a href="http://www.hri.fi/">Helsinki Region Infoshare</a> -palvelusta {{ date }} lisenssill&auml;
                <a href="http://creativecommons.org/licenses/by/4.0/deed.fi"> Creative Commons Nime&auml; 4.0 Kansainv&auml;linen
                    (CC BY 4.0)</a>.</span>
            </div>
        </div>
    </div>
</div>
{% block scripts %}{% endblock %}
</body>

<script>

    $('.flag').click(function () {
        $('#search_form').attr('action', $(this).val());
        $('#search_form').submit();
    });
</script>

</html>